<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表</title>
<link rel="shortcut icon" href="/favicon.ico"><link href="/css/list.css?19ef882d50b1b3dcdd7b" rel="stylesheet"></head>
<body>
  <div class="layout">
    <header class="header header-top">
      <i class="back"></i>
      <p>列表</p>
    </header>
    <section class="content">
      <div id="test_list" class="test-list">
        <ul>
    
        </ul>
      </div>
    </section>
  </div>
<script type="text/javascript" src="/js/vendors.js?19ef882d50b1b3dcdd7b"></script><script type="text/javascript" src="/js/list.js?19ef882d50b1b3dcdd7b"></script></body>
</html>